SECRET_KEY=cambia-esta-clave-en-produccion
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
EMPRESA_NOMBRE=Robert Rent A Car
EMPRESA_TELEFONO=+1 809-399-9540
EMPRESA_DIRECCION=Av. Hispanoamericana, cerca de UAPA, Santiago de los Caballeros, RD
# Ruta secreta del panel (cámbiala en producción; ej: mi-empresa-ops-2026)
PANEL_PATH=dv-rc-ops
